.toolBarTopo{
	-fx-font-color:#ffed00;
	-fx-background-color:#292c30;
	-fx-spacing:10px;
}

.toolBarTopoCadastroClientePrinciapl{
	-fx-font-color:#ffed00;
	-fx-background-color:#292c30;
	-fx-border-color:#35393e;
	-fx-spacing:10px;
}

.grid-pane {
	 -fx-background-color: #1f2124;
}

.grid-pane .label{
	 -fx-text-fill: #ffed00;
}

.buttons{
	-fx-text-fill: #ffed00;
	-fx-background-color:#1f2124;
	-fx-border-color:#35393e;
	-fx-border-radius: 5px;
}

.toolBarCliente{
	-fx-font-color:#ffed00;
	-fx-background-color:#1f2124;
	-fx-border-color:#35393e;
	-fx-spacing:px;
}

.date-picker{
    -fx-background-color:#35393e;
    -fx-text-fill:#ffed00;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color:#35393e;
}

.date-picker .cell {
	-fx-background-color: #35393e;
	-fx-text-fill: #ffed00;
}

.date-picker-popup .week-number-cell {
	-fx-text-fill: #ffed00;
}

.date-picker-popup .month-year-pane .label {
	-fx-text-fill: #ffed00;
}

.date-picker .cell:hover {
	-fx-background-color: #1f2124;
}