.toolBarTopo{
	-fx-background-color:#DCDCDC;
	-fx-spacing:10px;
}

.toolBarTopoCadastroClientePrinciapl{
	-fx-background-color:#DCDCDC;
	-fx-border-color:#DCDCDC;
	-fx-spacing:10px;
}

.grid-pane {
	 -fx-background-color: #DCDCDC;
}

